@model List<Presentation.ViewModels.Meal.GetMealViewModel>;

@{
    ViewData["Title"] = "Clientes";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")

<section class="container">

    <div class="page-title">
        <h1 class="fw-bolder">Sabores</h1>
    </div>

    <hr>

    <div class="row mb-4 mt-4">
        <div class="col-md-4" style="padding-top: 20px">
            <a class="btn btn-primary-custom btn-lg" asp-controller="Customer" asp-action="Create">
                + Novo Sabor
            </a>
        </div>

        @if (Model.Count > 0)
        {
            <div class="col-md-8 row justify-content-end">
                <div class="col-md-4">
                    <i class="fa-solid fa-magnifying-glass fa-sm" style="padding-right: 5px;"></i>
                    <label for="isActive-filter" class="form-label fw-thin">BUSCAR:</label>
                    <input id="search-customer-filter" class="form-control" />
                </div>
            </div>
        }
    </div>

    <table class="table styled-table">
        <caption>Total de sabores encontrados: <b>@Model.Count</b></caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Descrição do Sabor</th>
                <th>Acompanhamentos</th>
                <th>Adicionado por</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model.ToList())
            {
                <tr>
                    <td>@meal.Id</td>
                    <td>@meal.Description</td>
                    <td>@meal.Accompaniments</td>
                    <td>@meal.CreatedBy</td>
                </tr>
            }
        </tbody>
    </table>

</section>
