@model Presentation.ViewModels.Order.GetOrderViewModel;

<div id="order-details-modal" class="order-details-modal-card">

    <div class="order-details-title text-center mt-3">
        <i class="fa-solid fa-circle-info fa-2xl mb-4"></i>
        <h4>Detalhes do Pedido</h4>
        <hr>
    </div>

    <div class="order-details-modal-content mb-3">
        @if (Model.Description == null)
        {
            <p class="mb-2">Descrição: <br><b>Sem descrição</b></p>
        }
        else
        {
            <p class="mb-2">Descrição: <br><b>@Model.Description</b></p>
        }

        <div class="row mb-2">
            <div class="col-md-6">
                <p>Cliente: <br><b>@Model.Customer</b></p>
            </div>
            <div class="col-md-6">
                <p>Sabor: <br><b>@Model.Meal</b></p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <p>Preço: <br><b>R$ @Math.Round(Model.Price, 2)</b></p>
            </div>
            <div class="col-md-6">
                @if (Model.PaymentType.Equals("PIX"))
                {
                    <p>Pagamento: <br>
                        <b>
                            <i class="fa-brands fa-pix fa-sm" style="padding-right: 3px;"></i>
                            @Model.PaymentType
                        </b>
                    </p>
                }
                else
                {
                    <p>Pagamento: <br>
                        <b>
                            <i class="fa-solid fa-money-bill-wave fa-sm" style="padding-right: 3px;"></i>
                            @Model.PaymentType
                        </b>
                    </p>
                }
            </div>
        </div>

        @if (Model.IsPaid)
        {
            <div class="row mb-2">
                <div class="col-md-6">
                    <p>Pago: <br><b>Sim</b></p>
                </div>
                <div class="col-md-6">
                    <p>Data de Pagamento: <br><b>@Model.PaidAt</b></p>
                </div>
            </div>
        }
        else
        {
            <p class="mb-2">Pago: <br><b style="color: red;">Não</b></p>
        }

        <p>Adicionado por: <br><b>@Model.CreatedBy</b></p>
    </div>

    <hr>

    <div class="mb-5 text-center">
        <a href="pedidos/editar/@Model.Id" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-pen" style="color: #ffffff; padding-right: 4px;"></i> <b>Editar Pedido</b>
        </a>
        <button id="delete-order-button" class="btn btn-danger btn-sm test-button" data-order-id="@Model.Id">
            <i class="fa-solid fa-trash" style="color: #ffffff; padding-right: 4px;"></i> <b>Deletar Pedido</b>
        </button>
    </div>

</div>

<script>
    $('#delete-order-button').click(function () {
        var orderId = $(this).data('order-id');

        if (confirm('Tem certeza de que deseja excluir este pedido?')) {
            $.ajax({
                url: `/pedidos/deletar/${orderId}`,
                type: 'DELETE',
                success: function (result) {
                    if (result.success) {
                        alert('Pedido excluído com sucesso.');
                        location.reload();
                    } else {
                        alert('Falha ao excluir o pedido: ' + result.message);
                    }
                },
                error: function () {
                    alert('Ocorreu um erro ao excluir o pedido.');
                }
            });
        }
    });
</script>