@model List<Presentation.ViewModels.Order.GetOrderViewModel>;

@foreach (var order in Model)
{
    <tr class="table-row">
        <td>
            <a href="pedidos/detalhes/@order.Id" class="show-details" data-order-id="@order.Id">
                <i class="fa-solid fa-circle-info fa-lg"></i>
            </a>
        </td>
        <td id="createdAt-order">@order.CreatedAt.Date.ToString("dd/MM/yyyy")</td>
        <td>@order.Customer</td>
        <td>@order.Meal</td>
        <td id="order-price"><b>R$</b> @Math.Round(@order.Price, 2)</td>
        <td>
            @if (@order.PaymentType.Equals("PIX"))
            {
                <i class="fa-brands fa-pix fa-xl" style="color: #1f513e;"></i>
            }
            else
            {
                <i class="fa-solid fa-money-bill-wave fa-xl" style="color: #1f513e;"></i>
            }
        </td>
        <td>
            @if (!order.IsPaid)
            {
                <form asp-action="MarkOrderAsPaid" method="post">
                    <input type="hidden" name="orderId" value="@order.Id" />
                    <button type="submit" class="btn btn-sm btn-success">Marcar como Pago</button>
                </form>
            }
            else
            {
                <i id="isPaid-icon" class="fa-solid fa-square-check fa-xl"></i>
            }
        </td>
    </tr>
}

<div id="order-details-modal-card" class="hidden">
</div>

<script>
    $(document).ready(function () {
        $('.show-details').on('click', function (e) {
            e.preventDefault();

            const orderId = $(this).data('order-id');
            const orderDetailsCard = $('#order-details-modal-card');
            const backdrop = $('.modal-backdrop');

            $.ajax({
                url: `/pedidos/detalhes/${orderId}`,
                type: 'GET',
                success: function (data) {
                    orderDetailsCard.html(data);
                    orderDetailsCard.removeClass('hidden');
                    backdrop.removeClass('hidden');
                },
                error: function () {
                    alert('Ocorreu um erro ao carregar os detalhes da ordem.');
                }
            });
        });
    });
</script>