@model List<Presentation.ViewModels.Order.GetOrderViewModel>;

@foreach (var order in Model)
{
    <tr class="table-row">
        <td>
            <a id="open-order-details" href="pedidos/detalhes/@order.Id" class="show-details" data-order-id="@order.Id">
                <i class="fa-solid fa-circle-info fa-lg"></i>
            </a>
        </td>
        <td id="createdAt-order">@order.CreatedAt.Date.ToString("dd/MM/yyyy")</td>
        <td>@order.Customer</td>
        <td>@order.Meal</td>
        <td id="order-price"><b>R$</b> @Math.Round(@order.Price, 2)</td>
        <td>
            @if (@order.PaymentType.Equals("PIX"))
            {
                <i class="fa-brands fa-pix fa-xl"></i>
            }
            else
            {
                <i class="fa-solid fa-money-bill-wave fa-xl"></i>
            }
        </td>
        <td>
            @if (!order.IsPaid)
            {
                <p class="status pending">Pendente</p>
            }
            else
            {
                <p class="status paid">Pago</p>
            }
        </td>
    </tr>
}

<div id="order-details-modal-card" class="hidden">
</div>

<script src="~/js/orders/actions/detailOrderAction.js"></script>