@model List<Presentation.ViewModels.Order.GetOrderViewModel>;

@{
    ViewData["Title"] = "Pedidos";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")

<link rel="stylesheet" href="~/css/elements/box-orders.css" asp-append-version="true" />

<section class="container">

    <section class="create-form container">

        <div class="custom-card page-title text-center">
            <div class="mb-1">
                <i class="fa-solid fa-clipboard-list fa-lg"></i>
            </div>
            <h3>
                Pedidos
            </h3>
            <span id="current-date">.</span>
        </div>

        <div class="box-orders-section row">
            <div class="col-md-2">
                <div class="box-orders">
                    <i class="fa-solid fa-chevron-up fa-lg"></i>
                    <h2 id="new-orders-count">@Model.Count</h2>
                    <p>Novos Pedidos</p>
                </div>
            </div>

            <div class="col-md-2">
                <div class="box-orders">
                    <i class="fa-solid fa-chart-line fa-lg"></i>
                    <h2 id="price-orders-sum">
                        R$ @Math.Round(Model.Where(x => x.IsPaid == true).Sum(x => x.Price), 2)
                    </h2>
                    <p>Total de Lucro</p>
                </div>
            </div>

            <div class="col-md-2">
                <div class="box-orders">
                    <i class="fa-solid fa-money-bill-transfer fa-lg"></i>
                    <h2 id="total-to-receive">
                        R$ @Math.Round(Model.Where(x => x.IsPaid == false).Sum(x => x.Price), 2)
                    </h2>
                    <p>Total a Receber</p>
                </div>
            </div>

            <div class="col-md-2">
                <div id="box-orders-paid" class="box-orders paid">
                    <i class="fa-solid fa-check fa-lg"></i>
                    <h2 id="paid-orders-count">@Model.Where(x => x.IsPaid == true).Count()</h2>
                    <p>Pedidos Pagos</p>
                </div>
            </div>

            <div class="col-md-2">
                <div id="box-orders-unpaid" class="box-orders unpaid">
                    <i class="fa-solid fa-x fa-lg"></i>
                    <h2 id="unpaid-orders-count">@Model.Where(x => x.IsPaid == false).Count()</h2>
                    <p>Pedidos NÃO Pagos</p>
                </div>
            </div>
        </div>

        <section class="custom-card">

            <div class="row mb-4 mt-4">

                <div class="col-md-4" style="padding-top: 20px">
                    <a class="btn btn-primary-custom btn-lg" asp-controller="Order" asp-action="Create">
                        + Novo Pedido
                    </a>
                </div>

                <div class="col-md-8 row justify-content-end">
                    <div class="col-md-4">
                        <label for="search-order-filter" class="form-label fw-thin">
                            <i class="fa-solid fa-magnifying-glass fa-sm" style="padding-right: 5px;"></i>
                            BUSCAR:
                        </label>
                        <input id="search-order-filter" class="form-control" placeholder="Busque cliente ou sabor" />
                    </div>

                    <div class="col-md-4">
                        <label for="payment-filter" class="form-label fw-thin">
                            <i class="fa-solid fa-money-bill fa-sm" style="padding-right: 5px;"></i>
                            PAGAMENTO:
                        </label>
                        <select id="payment-filter" name="payment-filter" class="form-select form-control"
                            style="width: 250px;">
                            <option value="all">Todos</option>
                            <option value="paid">Pagos</option>
                            <option value="unpaid">Não Pagos</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <form id="filterByDate-form" asp-controller="Order" asp-action="Orders" method="GET">
                            <label for="createdAt" class="form-label fw-thin">
                                <i class="fa-regular fa-calendar fa-sm" style="padding-right: 5px;"></i> DATA:
                            </label>
                            <input id="createdAt" name="createdAt" type="date" class="form-control"
                                style="max-width: 300px;">
                        </form>
                    </div>
                </div>

            </div>

            @if (Model.Count > 0)
            {
                <table id="orders-table" class="styled-table table">
                    <caption class="styled-table-caption">Pedidos Encontrados: @Model.Count</caption>
                    <thead>
                        <tr class="table-head-row">
                            <th>Detalhes</th>
                            <th>Data do Pedido</th>
                            <th>Cliente</th>
                            <th>Sabor</th>
                            <th>Valor</th>
                            <th>Pagamento</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="orders-tableBody" class="table-group-divider">
                        @foreach (var order in Model)
                        {
                            <tr class="table-row">
                                <td>
                                    <a id="open-order-details" href="pedidos/detalhes/@order.Id" class="show-details"
                                        data-order-id="@order.Id">
                                        <i class="fa-solid fa-circle-info fa-lg"></i>
                                    </a>
                                </td>
                                <td id="createdAt-order">@order.CreatedAt.Date.ToString("dd/MM/yyyy")</td>
                                <td>@order.Customer</td>
                                <td>@order.Meal</td>
                                <td id="order-price"><b>R$</b> @Math.Round(@order.Price, 2)</td>
                                <td>
                                    @if (@order.PaymentType.Equals("PIX"))
                                    {
                                        <i class="fa-brands fa-pix fa-xl"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-money-bill-wave fa-xl"></i>
                                    }
                                </td>
                                <td>
                                    @if (!order.IsPaid)
                                    {
                                        <p class="status pending">Pendente</p>
                                    }
                                    else
                                    {
                                        <p class="status paid">Pago</p>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="no-orders-found">
                    <img src="~/img/nao-encontrado.png">
                    <h4>Nenhum pedido encontrado. <a asp-controller="Order" asp-action="Create">Clique aqui</a>
                        para cadastrar um novo pedido.</h4>
                </div>
            }

        </section>

        <div id="order-details-modal-card" class="hidden order-details-modal-card">
            <!-- Get a modal of order details (Being loaded on _Details.cshtml) -->
        </div>

        <div id="modal-backdrop" class="modal-backdrop hidden"></div>

    </section>
</section>