@model List<Presentation.ViewModels.Order.GetOrderViewModel>;

@{
    var orders = Model;
    ViewData["Title"] = "Pedidos";
    Layout = "_Layout";

    int totalOrders = orders.Count();

    string total = orders.Select(x => x.Price).Sum().ToString();
    string totalPaid = orders.Where(x => x.IsPaid).Select(x => x.Price).Sum().ToString();
    string totalToPay = orders.Where(x => !x.IsPaid).Select(x => x.Price).Sum().ToString();
}

<section>

    <h1 class="text-3xl font-bold mb-6">Pedidos</h1>

    <!-- Cards Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">
        <div class="bg-white p-4 shadow rounded-lg">
            <div class="text-gray-700 text-sm">Novos Pedidos</div>
            <div class="text-3xl font-bold mt-2">@totalOrders</div>
        </div>

        <div class="bg-white p-4 shadow rounded-lg">
            <div class="text-gray-700 text-sm">Total Vendido</div>
            <div class="text-3xl font-bold mt-2">R$ @total</div>
        </div>

        <div class="bg-white p-4 shadow rounded-lg">
            <div class="text-gray-700 text-sm">Total Pago</div>
            <div class="text-3xl font-bold mt-2">R$ @totalPaid</div>
        </div>

        <div class="bg-white p-4 shadow rounded-lg">
            <div class="text-gray-700 text-sm">Total a Receber</div>
            <div class="text-3xl font-bold mt-2">R$ @totalToPay</div>
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-1 gap-6">
        <div class="bg-white p-4 shadow rounded-lg">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="text" id="table-search-users"
                    class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Buscar por pedido">
            </div>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-lg">
            @* <h2 class="text-xl font-bold mb-4">Últimos Pedidos</h2> *@


            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100">
                        <tr>
                            <th scope="col" class="px-6 py-3 rounded-s-lg">
                                Data
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Cliente
                            </th>
                            <th scope="col" class="px-6 py-3 rounded-e-lg">
                                Sabor
                            </th>
                            <th scope="col" class="px-6 py-3 rounded-e-lg">
                                Valor
                            </th>
                            <th scope="col" class="px-6 py-3 rounded-e-lg">
                                Pagamento
                            </th>
                            <th scope="col" class="px-6 py-3 rounded-e-lg">
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in orders)
                        {
                            <tr class="bg-white">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    @order.CreatedAt
                                </th>
                                <td class="px-6 py-4">
                                    @order.Customer
                                </td>
                                <td class="px-6 py-4">
                                    @order.Meal
                                </td>
                                <td class="px-6 py-4">
                                    R$ @order.Price
                                </td>
                                <td class="px-6 py-4">
                                    @order.PaymentType
                                </td>
                                <td class="px-6 py-4">
                                    @order.IsPaid
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4"
            aria-label="Table navigation">
            <span class="text-sm font-normal text-gray-500  mb-4 md:mb-0 block w-full md:inline md:w-auto">Showing
                <span class="font-semibold text-gray-900 ">1-10</span> of <span
                    class="font-semibold text-gray-900 ">1000</span></span>
            <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">Previous</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">1</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">2</a>
                </li>
                <li>
                    <a href="#" aria-current="page"
                        class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700">3</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">4</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">5</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</section>