@model SorayaManagement.ViewModels.GetOrderViewModel;

@{
}

<div id="order-details-modal">

    <div class="text-center">
        <i class="fa-solid fa-circle-info fa-xl mb-4"></i>
        <h4>Detalhes do Pedido </h4>
        <h4><b>N° @Model.Id</b></h4>
        <hr>
    </div>

    <div class="mb-3">
        <p>Descrição: <b>@Model.Description</b></p>
        <p>Cliente: <b>@Model.Customer</b></p>
        <p>Sabor: <b>@Model.Meal</b></p>
        <p>Pago: <b>@(Model.IsPaid == true ? "Sim" : "Não")</b></p>
        @if (Model.IsPaid)
        {
            <p>Pago em: <b>@Model.PaidAt</b></p>
        }
        <p>Adicionado por: <b>@Model.CreatedBy</b></p>
    </div>

    <hr>

    <div class="mb-5 text-center">
        <button id="edit-order" class="btn btn-primary btn-sm">Editar Pedido</button>
        <button id="delete-order" class="btn btn-danger btn-sm">Deletar Pedido</button>
        <button id="close-modal" class="btn btn-success btn-sm" onclick="closeModal()">Fechar</button>
    </div>

</div>

<script>
    const modal = document.getElementById("order-details-modal");
    const modalCard = document.getElementById("order-details-modal-card");
    const closeModalButton = document.getElementById("close-modal");
    const modalBackdrop = document.getElementById("modal-backdrop")

    function closeModal() {
        modal.classList.add('hidden');
        modalCard.classList.add('hidden')
        modalBackdrop.classList.add('hidden');
    }

    modalBackdrop.addEventListener('click', () => {
        closeModal();
        modalBackdrop.classList.add('hidden');
    })

</script>