@model Application.Dtos.Data.GetDataDto;

@{
    var data = Model;
    ViewData["Title"] = "Home";
    Layout = "_Layout";

    int totalOrders = data.Orders.Count();

    string total = data.Orders.Select(x => x.Price).Sum().ToString();
    string totalPaid = data.Orders.Where(x => x.IsPaid).Select(x => x.Price).Sum().ToString();
    string totalToPay = data.Orders.Where(x => !x.IsPaid).Select(x => x.Price).Sum().ToString();
}

<section>
    <h1 class="text-3xl font-bold mb-6">Dashboard de Vendas</h1>

    <!-- Cards Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">
        <div class="bg-white p-4 shadow rounded-lg">
            <div class="text-gray-700 text-sm">Novos Pedidos</div>
            <div class="text-3xl font-bold mt-2">@totalOrders</div>
        </div>

        <div class="bg-white p-4 shadow rounded-lg">
            <div class="text-gray-700 text-sm">Total Vendido</div>
            <div class="text-3xl font-bold mt-2">R$ @total</div>
        </div>

        <div class="bg-white p-4 shadow rounded-lg">
            <div class="text-gray-700 text-sm">Total Pago</div>
            <div class="text-3xl font-bold mt-2">R$ @totalPaid</div>
        </div>

        <div class="bg-white p-4 shadow rounded-lg">
            <div class="text-gray-700 text-sm">Total a Receber</div>
            <div class="text-3xl font-bold mt-2">R$ @totalToPay</div>
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-bold mb-4">Últimos Pedidos</h2>

            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100">
                        <tr>
                            <th scope="col" class="px-6 py-3 rounded-s-lg">
                                Data
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Cliente
                            </th>
                            <th scope="col" class="px-6 py-3 rounded-e-lg">
                                Sabor
                            </th>
                            <th scope="col" class="px-6 py-3 rounded-e-lg">
                                Valor
                            </th>
                            <th scope="col" class="px-6 py-3 rounded-e-lg">
                                Pagamento
                            </th>
                            <th scope="col" class="px-6 py-3 rounded-e-lg">
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in data.Orders)
                        {
                            <tr class="bg-white">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    @order.CreatedAt
                                </th>
                                <td class="px-6 py-4">
                                    @order.Customer
                                </td>
                                <td class="px-6 py-4">
                                    @order.Meal
                                </td>
                                <td class="px-6 py-4">
                                    R$ @order.Price
                                </td>
                                <td class="px-6 py-4">
                                    @order.PaymentType
                                </td>
                                <td class="px-6 py-4">
                                    @order.IsPaid
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Charts Section -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-8">
        <!-- Line Chart -->
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-bold mb-4">Sabores mais pedidos</h2>
            <div class="chart-container">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-bold mb-4">Melhores Clientes</h2>
            <div class="chart-container">
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>

</section>